@use 'styles/spacing';
@use 'styles/breakpoints';
@use 'styles/colors';

.root {
    display: flex;
    margin: spacing.$xlarge;

    @media (max-width: breakpoints.$m) {
        flex-direction: column;
    }

    @media (max-width: breakpoints.$s) {
        margin: spacing.$medium;
    }
}

.search {
    margin-bottom: spacing.$large;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 0 0 auto;
    margin-right: spacing.$large;

    @media (max-width: breakpoints.$m) {
        margin-right: 0;
        margin-bottom: spacing.$large;
    }
}
