@use 'styles/fonts';
@use 'styles/spacing';
@use 'styles/colors';
@use 'styles/breakpoints';

.root {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;

    @media (max-width: breakpoints.$s) {
        flex-direction: column;
    }
}

.info {
    margin-right: spacing.$medium;
}

.image {
    border-radius: 8px;
}

.section {
    @include fonts.font-size-xlarge;
    margin-bottom: spacing.$medium;
}

.screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: spacing.$xlarge 0;
}

.carousel {
    width: 100%;
    padding: 0 spacing.$xxlarge;
}

.video {
    width: 384px;
    border-radius: 24px;

    @media (max-width: breakpoints.$s) {
        width: 100%;
        margin: spacing.$large 0;
    }
}

.releaseDate {
    @include fonts.font-size-xsmall;
    flex: 0 0 auto;
    display: inline-block;
    color: colors.$black;
    background-color: colors.$white;
    padding: spacing.$xxsmall spacing.$small;
    margin-right: spacing.$medium;
    border-radius: 4px;
}

.title {
    @include fonts.font-size-xxxlarge;
    margin-bottom: spacing.$xsmall;
}

.totalRating {
    @include fonts.font-size-xlarge;
    @include fonts.font-bold;
    display: inline-block;
    border: 1px solid colors.$white;
    background-color: colors.$white;
    color: colors.$black;
    padding: spacing.$small;
    border-radius: 4px;
    margin: spacing.$medium 0;
}

.ratings {
    display: flex;
    flex-direction: column;
}

.rating {
    margin-bottom: spacing.$small;
    text-transform: capitalize;
    display: flex;
}

.count {
    @include fonts.font-bold;
    margin-left: spacing.$xsmall;
}

.about {
    @include fonts.font-size-xlarge;
    @include fonts.font-bold;
    margin: spacing.$medium 0;
}

.metaInfo {
    margin-top: spacing.$large;
}
