@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/spacing';
@use 'styles/breakpoints';
@use 'styles/grid';

.root {
    display: flex;
    flex-direction: column;
}

.info {
    @include fonts.font-size-large;
    margin-bottom: spacing.$medium;
}

.cards {
    @include grid.responsive-card-grid;
}

.sort {
    margin-bottom: spacing.$medium;
}

.button {
    margin: 0 auto;
}
