@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/spacing';
@use 'styles/breakpoints';

.root {
    @include fonts.font-size-medium;
    position: fixed;
    bottom: 20px;
    left: calc(50% + (216px / 2));
    transform: translateX(-50%);
    background-color: colors.$white;
    color: colors.$black;
    padding: spacing.$medium;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);

    @media (max-width: breakpoints.$m) {
        left: 50%;
    }

    &:hover {
        color: hsla(0, 0%, 0%, 0.5);
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}
