@use 'styles/spacing';
@use 'styles/fonts';
@use 'styles/breakpoints';
@use 'styles/grid';

.root {
    display: flex;
    flex-direction: column;
}

.count {
    @extend %font-bold;
    @extend %font-size-large;
    margin-bottom: spacing.$medium;
}

.cards {
    @extend %responsive-card-grid;
}

.title {
    margin-bottom: spacing.$large;
}

.button {
    margin: 0 auto;
}
