@use 'styles/spacing';
@use 'styles/fonts';
@use 'styles/breakpoints';
@use 'styles/grid';

.root {
    display: flex;
    flex-direction: column;
}

.count {
    @include fonts.font-bold;
    @include fonts.font-size-large;

    @media (max-width: breakpoints.$s) {
        margin-bottom: spacing.$medium;
        order: -1;
    }
}

.cards {
    @include grid.responsive-card-grid;
}

.title {
    margin-bottom: spacing.$large;

    @media (max-width: breakpoints.$s) {
        text-align: center;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: spacing.$medium;

    @media (max-width: breakpoints.$s) {
        align-items: flex-start;
        flex-direction: column;
    }
}

.button {
    margin: 0 auto;
}
