@use 'styles/breakpoints';
@use 'styles/spacing';
@use 'styles/fonts';
@use 'styles/colors';

.root {
    display: flex;
    flex-direction: column;

    .icon {
        display: none;

        @media (max-width: breakpoints.$m) {
            display: block;
        }
    }
}

.portal {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: spacing.$xlarge;
    background-color: colors.$black;
    overflow-y: auto;

    @media (max-width: breakpoints.$s) {
        padding: spacing.$medium;
    }

    .icon {
        margin-bottom: spacing.$large;
    }
}

.content {
    width: 200px;

    @media (max-width: breakpoints.$m) {
        display: none;
    }
}

.icon {
    width: 28px;
    height: 28px;
    color: colors.$white;
    cursor: pointer;
}

.item {
    @include fonts.font-size-large;
    @include fonts.font-bold;
    margin-bottom: spacing.$medium;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: hsla(0, 0%, 100%, 0.4);
    }
}

.list {
    margin-bottom: spacing.$large;
}
