@mixin font-bold {
    font-weight: bold;
}

@mixin font-size-xxxlarge {
    font-size: 48px;
}

@mixin font-size-xxlarge {
    font-size: 32px;
}

@mixin font-size-xlarge {
    font-size: 24px;
}

@mixin font-size-large {
    font-size: 20px;
}

@mixin font-size-medium {
    font-size: 16px;
}

@mixin font-size-small {
    font-size: 14px;
}

@mixin font-size-xsmall {
    font-size: 12px;
}
