@use 'spacing';
@use 'breakpoints';

%responsive-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: spacing.$large;
    width: 100%;

    @media (max-width: breakpoints.$s) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
