@use 'spacing';
@use 'breakpoints';

.root {
    margin: spacing.$xlarge;
}

.header {
    display: flex;
    margin-bottom: spacing.$large;

    @media (max-width: breakpoints.$s) {
        flex-wrap: wrap;
    }
}

.home {
    margin-right: spacing.$large;
    cursor: pointer;
    display: flex;
    align-items: center;

    @media (max-width: breakpoints.$s) {
        margin-bottom: spacing.$medium;
    }
}

.search {
    width: 100%;
}
