@use 'spacing';
@use 'breakpoints';

.root {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: spacing.$large;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: spacing.$large;
    width: 100%;

    @media (max-width: breakpoints.$s) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
