@use 'spacing';
@use 'colors';
@use 'breakpoints';

.root {
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-self: stretch;
    margin: spacing.$large;
    width: 380px;

    @media (max-width: breakpoints.$m) {
        width: 100%;
        margin: spacing.$large 0;
    }
}

.spinner {
    margin-top: spacing.$xlarge;
    display: flex;
    justify-content: center;
}
