@use 'colors';
@use 'fonts';
@use 'spacing';
@use 'breakpoints';
@use 'grid';

.root {
    display: flex;
    flex-direction: column;
}

.info {
    @include fonts.font-size-large;
    margin-bottom: spacing.$medium;
}

.cards {
    @include grid.responsive-card-grid;
}

.button {
    margin: 0 auto;
}
