@use 'colors';
@use 'fonts';
@use 'spacing';
@use 'breakpoints';

.root {
    display: flex;
    flex-direction: column;
}

.info {
    @extend %font-size-large;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-self: stretch;
    margin: spacing.$large;
    width: 380px;

    @media (max-width: breakpoints.$m) {
        width: 100%;
        margin: spacing.$large 0;
    }
}

.button {
    margin: 0 auto;
}
