@use 'colors';

.root {
    border: 4px solid colors.$white;
    border-radius: 50%;
    border-top: 4px solid lighten(colors.$black, 10%);
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
