@use 'spacing';
@use 'fonts';
@use 'breakpoints';

.root {
    display: flex;
    flex-direction: column;
}

.title {
    @extend %font-size-xlarge;
    text-align: center;
    margin-top: spacing.$large;
    margin-bottom: spacing.$medium;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: spacing.$large;

    @media (max-width: breakpoints.$s) {
        grid-template-columns: repeat(auto-fill, 1fr);
    }
}

.button {
    display: flex;
    justify-content: center;
}
