@use 'spacing';
@use 'fonts';
@use 'breakpoints';

.root {
    display: flex;
    flex-direction: column;
}

.title {
    @extend %font-size-xlarge;
    text-align: center;
    margin-top: spacing.$large;
    margin-bottom: spacing.$medium;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    margin: spacing.$large;

    @media (max-width: breakpoints.$s) {
        width: 100%;
    }
}

.button {
    display: flex;
    justify-content: center;
}
